model_checkpoint/
runs/
test_tester_outputs/
test_trainer_outputs/
pick-benchmark/
training_phasenet_tensorboard.ipynb
Creat_datasets/day1/waveforms.hdf5
Creat_datasets/day1/metadata.csv
Creat_datasets/day1/creat dataset.ipynb
waveforms.hdf5
metadata.csv
